body {
  background: #ffffff;
  font: 24px/30px "Noto Sans CJK KR", Noto Sans KR, sans-serif;
}
@import url(https://fonts.googleapis.co/css?family=montserrat:600,400,300);

.frame {
  position: absolute;
  top: 50%;
  left: 65%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 3px;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.6);
  overflow: hidden;
  background: #85ff75;
  background: linear-gradient(145deg, #724ef7 0%, #19f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#413951", endColorstr="#201c29",GradientType=0 );
  color: #fff;
  font-family: "montserrat", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 3px;
}

h1 {
  text-align: center;
  font-family: "Roboto";
}

.btn-container {
  height: 200px;
  left: 40%;
  position: relative;
  margin: 0;
  position: absolute;
  top: 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

HTML CSSResult Skip Results Iframe body {
  /*   background-color:#fcfcfc */
}
.navbar > ul > li {
  list-style: none;
  margin: 0px;
  padding: 10px 20px;
  font-size: 1.4rem;
  font-family: bolder;
  font-family: "Monaco";
  color: #ffff;
  border-radius: 20px;
  background-image: linear-gradient(40deg, #d38cff, #6272fc);
  box-shadow: rgba(50, 50, 93, 1) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.5) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.65) 0px -2px 6px 0px inset;
  cursor: pointer;
  transform: scale(0.8);
  transition: all 0.2s ease-out;
}
.navbar > ul {
  display: flex;
  justify-content: center;
}
.navbar {
  margin-top: 5rem;
}

.navbar > ul > li:hover {
  background-image: linear-gradient(30deg, #f5b6b3, #6272fc);
  font-size: 1.4rem;
  transform: scale(0.9);
  transition-duration: 1s ease-out;
  box-shadow: #030557 0px 25px 35px -13px;
  border-radius: 15px;
  color: #ffffeb;
  border: 0.1px #6e0175;
  /*   font-family:"Monaco" */
  -webkit-tap-highlight-color: transparent;
  animation-play-state: paused;
}
.navbar > ul > li:after {
  animation-play-state: paused;
}
.navbar > ul > li:before {
  content: "";
  display: block;
  width: 30px;
  height: 180%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.2;
  position: absolute;
  top: -20px;
  left: 0;
  animation: shine 3s linear;
  transform: translateX(250px) rotate(-25deg);
}
@keyframes shine {
  0% {
    transform: translateX(-30px) rotate(-25deg);
  }

  100% {
    transform: translateX(250px) rotate(-25deg);
  }
}

.headline {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.circle-big {
  position: relative;
  width: 114px;
  height: 114px;
  margin: 30px auto 25px auto;
}

.circle-big svg {
  width: 114px;
  height: 114px;
}

.circle-big .bg {
  fill: none;
  stroke-width: 10px;
  stroke: #343035;
}

.circle-big .progress {
  fill: none;
  stroke-width: 10px;
  stroke: #1af3bd;
  stroke-linecap: round;
  /* 초기 circle prgress bar 게이지량 */
  stroke-dasharray: 326.56;
  stroke-dashoffset: 327;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  -webkit-animation: big 1.5s ease-in-out;
  animation: big 1.5s ease-in-out;
}

.circle-big .text {
  position: absolute;
  width: 100%;
  top: 37px;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  line-height: 22px;
}

.circle-big .text .small {
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: "Noto Sans KR";
}

.circles-small {
  margin: 0 auto;
  width: 400px;
  height: 80px;
  text-align: center;
}

.circle-small {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 20px;
}

.circle-small svg {
  width: 80px;
  height: 80px;
}

.circle-small .bg {
  fill: none;
  stroke-width: 6px;
  stroke: #343035;
}

.circle-small .progress {
  fill: none;
  stroke-width: 6px;
  stroke: #9a0fe0;
  stroke-linecap: round;
  stroke-dasharray: 232.36;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.circle-small .progress.one {
  stroke-dashoffset: 80;
  -webkit-animation: one 2.5s ease-in-out, appear 1s;
  animation: one 2.5s ease-in-out, appear 1s;
}

.circle-small .progress.two {
  stroke-dashoffset: 140;
  -webkit-animation: two 3.5s ease-in-out, appear 2s;
  animation: two 3.5s ease-in-out, appear 2s;
}

.circle-small .text {
  position: absolute;
  width: 100%;
  top: 26px;
  font-size: 17px;
  text-align: center;
  font-weight: 400;
  line-height: 16px;
}

.circle-small .text .small {
  font-size: 12px;
  color: #fff;
}

@-webkit-keyframes big {
  from {
    stroke-dashoffset: 326.56;
  }
  to {
    stroke-dashoffset: 60;
  }
}

@keyframes big {
  from {
    stroke-dashoffset: 326.56;
  }
  to {
    stroke-dashoffset: 60;
  }
}
@-webkit-keyframes one {
  from {
    stroke-dashoffset: 232.36;
  }
  to {
    stroke-dashoffset: 80;
  }
}
@keyframes one {
  from {
    stroke-dashoffset: 232.36;
  }
  to {
    stroke-dashoffset: 80;
  }
}
@-webkit-keyframes two {
  from {
    stroke-dashoffset: 232.36;
  }
  to {
    stroke-dashoffset: 140;
  }
}
@keyframes two {
  from {
    stroke-dashoffset: 232.36;
  }
  to {
    stroke-dashoffset: 140;
  }
}
@-webkit-keyframes appear {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading-container,
.loading {
  height: 100px;
  position: relative;
  width: 100px;
  border-radius: 100%;
}

.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  border: 2px solid transparent;
  border-color: transparent #fff transparent #fff;
  -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
  -moz-transform-origin: 50% 50%;
  -o-animation: rotate-loading 1.5s linear 0s infinite normal;
  -o-transform-origin: 50% 50%;
  -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
  -webkit-transform-origin: 50% 50%;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  transform-origin: 50% 50%;
}

.loading-container:hover .loading {
  border-color: transparent #e45635 transparent #e45635;
}
.loading-container:hover .loading,
.loading-container .loading {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#loading-text {
  -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
  -o-animation: loading-text-opacity 2s linear 0s infinite normal;
  -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
  animation: loading-text-opacity 2s linear 0s infinite normal;
  color: #ffffff;
  font-family: "Helvetica Neue, " Helvetica ", " "arial";
  font-size: 10px;
  font-weight: bold;
  margin-top: 45px;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  width: 50px;
  height: 26px;
  margin: auto;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* #model_toggle_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: .4s;
  transition: .4s;
} */

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

/* #model_toggle:checked + .slider {
  background-color: green;
} */

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
  text-align: center;
}

.slider.round:before {
  border-radius: 50%;
  text-align: center;
}
