body {
    background-color: #252a34;
  }
  
  .container {
    height: 100vh;
  }
  
  .app {
    background-color: #252a34;
    height: 50%;
    width: 60%;
    min-width: 300px;
    min-height: 300px;
    border: 5px solid #ff2e63;
  }
  
  /* CUSTOMS */
  .box {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-color: #08d9d6;
  }
  
  /* animation bindings */
  .counter > div:nth-child(1) > .box:nth-child(1) {
    animation: box-1-1 10s infinite, rotate 1s linear infinite;
    transition: all 0s;
  }
  
  .counter > div:nth-child(1) > .box:nth-child(2) {
    animation: box-1-2 10s infinite, rotate 1s linear infinite;
  }
  
  .counter > div:nth-child(1) > .box:nth-child(3) {
    animation: box-1-3 10s infinite, rotate 1s linear infinite;
  }
  
  .counter > div:nth-child(2) > .box:nth-child(1) {
    animation: box-2-1 10s infinite, rotate 1s linear infinite;
  }
  
  .counter > div:nth-child(2) > .box:nth-child(2) {
    animation: box-2-2 10s infinite, rotate 1s linear infinite;
  }
  
  .counter > div:nth-child(2) > .box:nth-child(3) {
    animation: box-2-3 10s infinite, rotate 1s linear infinite;
  }
  
  .counter > div:nth-child(3) > .box:nth-child(1) {
    animation: box-3-1 10s infinite, rotate 1s linear infinite;
  }
  
  .counter > div:nth-child(3) > .box:nth-child(2) {
    animation: box-3-2 10s infinite, rotate 1s linear infinite;
  }
  
  .counter > div:nth-child(3) > .box:nth-child(3) {
    animation: box-3-3 10s infinite, rotate 1s linear infinite;
  }
  
  .counter > div:nth-child(4) > .box:nth-child(1) {
    animation: box-4-1 10s infinite, rotate 1s linear infinite;
  }
  
  .counter > div:nth-child(4) > .box:nth-child(2) {
    animation: box-4-2 10s infinite, rotate 1s linear infinite;
  }
  
  .counter > div:nth-child(4) > .box:nth-child(3) {
    animation: box-4-3 10s infinite, rotate 1s linear infinite;
  }
  
  .counter > div:nth-child(5) > .box:nth-child(1) {
    animation: box-5-1 10s infinite, rotate 1s linear infinite;
  }
  
  .counter > div:nth-child(5) > .box:nth-child(2) {
    animation: box-5-2 10s infinite, rotate 1s linear infinite;
  }
  
  .counter > div:nth-child(5) > .box:nth-child(3) {
    animation: box-5-3 10s infinite, rotate 1s linear infinite;
  }
  
  /* animations */
  .rotate {
    animation: rotate 1s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateZ(-90deg);
    }
    70% {
      transform: rotateZ(0deg);
    }
  }
  @keyframes box-1-1 {
    0% {
      background-color: #08d9d6;
    }
    10% {
      background-color: #252a34;
    }
    20% {
      background-color: #08d9d6;
    }
    30% {
      background-color: #08d9d6;
    }
    40% {
      background-color: #08d9d6;
    }
    50% {
      background-color: #08d9d6;
    }
    70% {
      background-color: #08d9d6;
    }
    80% {
      background-color: #08d9d6;
    }
    90% {
      background-color: #08d9d6;
    }
    100% {
      background-color: #08d9d6;
    }
  }
  @keyframes box-1-2 {
    0% {
      background-color: #08d9d6;
    }
    10% {
      background-color: #08d9d6;
    }
    20% {
      background-color: #08d9d6;
    }
    30% {
      background-color: #08d9d6;
    }
    40% {
      background-color: #252a34;
    }
    50% {
      background-color: #08d9d6;
    }
    60% {
      background-color: #08d9d6;
    }
    70% {
      background-color: #08d9d6;
    }
    80% {
      background-color: #08d9d6;
    }
    90% {
      background-color: #08d9d6;
    }
    100% {
      background-color: #08d9d6;
    }
  }
  @keyframes box-1-3 {
    0% {
      background-color: #08d9d6;
    }
    10% {
      background-color: #252a34;
    }
    20% {
      background-color: #08d9d6;
    }
    30% {
      background-color: #08d9d6;
    }
    40% {
      background-color: #08d9d6;
    }
    50% {
      background-color: #08d9d6;
    }
    60% {
      background-color: #08d9d6;
    }
    70% {
      background-color: #08d9d6;
    }
    80% {
      background-color: #08d9d6;
    }
    90% {
      background-color: #08d9d6;
    }
    100% {
      background-color: #08d9d6;
    }
  }
  @keyframes box-2-1 {
    0% {
      background-color: #08d9d6;
    }
    10% {
      background-color: #252a34;
    }
    20% {
      background-color: #252a34;
    }
    30% {
      background-color: #252a34;
    }
    40% {
      background-color: #08d9d6;
    }
    50% {
      background-color: #08d9d6;
    }
    60% {
      background-color: #08d9d6;
    }
    70% {
      background-color: #252a34;
    }
    80% {
      background-color: #08d9d6;
    }
    90% {
      background-color: #08d9d6;
    }
    100% {
      background-color: #08d9d6;
    }
  }
  @keyframes box-2-2 {
    0% {
      background-color: #252a34;
    }
    10% {
      background-color: #08d9d6;
    }
    20% {
      background-color: #252a34;
    }
    30% {
      background-color: #252a34;
    }
    40% {
      background-color: #252a34;
    }
    50% {
      background-color: #252a34;
    }
    60% {
      background-color: #252a34;
    }
    70% {
      background-color: #252a34;
    }
    80% {
      background-color: #252a34;
    }
    90% {
      background-color: #252a34;
    }
    100% {
      background-color: #252a34;
    }
  }
  @keyframes box-2-3 {
    0% {
      background-color: #08d9d6;
    }
    10% {
      background-color: #252a34;
    }
    20% {
      background-color: #08d9d6;
    }
    30% {
      background-color: #08d9d6;
    }
    40% {
      background-color: #08d9d6;
    }
    50% {
      background-color: #252a34;
    }
    60% {
      background-color: #252a34;
    }
    70% {
      background-color: #08d9d6;
    }
    80% {
      background-color: #08d9d6;
    }
    90% {
      background-color: #08d9d6;
    }
    100% {
      background-color: #08d9d6;
    }
  }
  @keyframes box-3-1 {
    0% {
      background-color: #08d9d6;
    }
    10% {
      background-color: #252a34;
    }
    20% {
      background-color: #08d9d6;
    }
    30% {
      background-color: #08d9d6;
    }
    40% {
      background-color: #08d9d6;
    }
    50% {
      background-color: #08d9d6;
    }
    60% {
      background-color: #08d9d6;
    }
    70% {
      background-color: #252a34;
    }
    80% {
      background-color: #08d9d6;
    }
    90% {
      background-color: #08d9d6;
    }
    100% {
      background-color: #08d9d6;
    }
  }
  @keyframes box-3-2 {
    0% {
      background-color: #252a34;
    }
    10% {
      background-color: #08d9d6;
    }
    20% {
      background-color: #08d9d6;
    }
    30% {
      background-color: #08d9d6;
    }
    40% {
      background-color: #08d9d6;
    }
    50% {
      background-color: #08d9d6;
    }
    60% {
      background-color: #08d9d6;
    }
    70% {
      background-color: #252a34;
    }
    80% {
      background-color: #08d9d6;
    }
    90% {
      background-color: #08d9d6;
    }
    100% {
      background-color: #252a34;
    }
  }
  @keyframes box-3-3 {
    0% {
      background-color: #08d9d6;
    }
    10% {
      background-color: #252a34;
    }
    20% {
      background-color: #08d9d6;
    }
    30% {
      background-color: #08d9d6;
    }
    40% {
      background-color: #08d9d6;
    }
    50% {
      background-color: #08d9d6;
    }
    60% {
      background-color: #08d9d6;
    }
    70% {
      background-color: #08d9d6;
    }
    80% {
      background-color: #08d9d6;
    }
    90% {
      background-color: #08d9d6;
    }
    100% {
      background-color: #08d9d6;
    }
  }
  @keyframes box-4-1 {
    0% {
      background-color: #08d9d6;
    }
    10% {
      background-color: #252a34;
    }
    20% {
      background-color: #08d9d6;
    }
    30% {
      background-color: #252a34;
    }
    40% {
      background-color: #252a34;
    }
    50% {
      background-color: #252a34;
    }
    60% {
      background-color: #08d9d6;
    }
    70% {
      background-color: #252a34;
    }
    80% {
      background-color: #08d9d6;
    }
    90% {
      background-color: #252a34;
    }
    100% {
      background-color: #08d9d6;
    }
  }
  @keyframes box-4-2 {
    0% {
      background-color: #252a34;
    }
    10% {
      background-color: #08d9d6;
    }
    20% {
      background-color: #252a34;
    }
    30% {
      background-color: #252a34;
    }
    40% {
      background-color: #252a34;
    }
    50% {
      background-color: #252a34;
    }
    60% {
      background-color: #252a34;
    }
    70% {
      background-color: #252a34;
    }
    80% {
      background-color: #252a34;
    }
    90% {
      background-color: #252a34;
    }
    100% {
      background-color: #252a34;
    }
  }
  @keyframes box-4-3 {
    0% {
      background-color: #08d9d6;
    }
    10% {
      background-color: #252a34;
    }
    20% {
      background-color: #252a34;
    }
    30% {
      background-color: #08d9d6;
    }
    40% {
      background-color: #08d9d6;
    }
    50% {
      background-color: #08d9d6;
    }
    60% {
      background-color: #08d9d6;
    }
    70% {
      background-color: #08d9d6;
    }
    80% {
      background-color: #08d9d6;
    }
    90% {
      background-color: #08d9d6;
    }
    100% {
      background-color: #08d9d6;
    }
  }
  @keyframes box-5-1 {
    0% {
      background-color: #08d9d6;
    }
    10% {
      background-color: #252a34;
    }
    20% {
      background-color: #08d9d6;
    }
    30% {
      background-color: #08d9d6;
    }
    40% {
      background-color: #252a34;
    }
    50% {
      background-color: #08d9d6;
    }
    60% {
      background-color: #08d9d6;
    }
    70% {
      background-color: #252a34;
    }
    80% {
      background-color: #08d9d6;
    }
    90% {
      background-color: #08d9d6;
    }
    100% {
      background-color: #08d9d6;
    }
  }
  @keyframes box-5-2 {
    0% {
      background-color: #08d9d6;
    }
    10% {
      background-color: #08d9d6;
    }
    20% {
      background-color: #08d9d6;
    }
    30% {
      background-color: #08d9d6;
    }
    40% {
      background-color: #252a34;
    }
    50% {
      background-color: #08d9d6;
    }
    60% {
      background-color: #08d9d6;
    }
    70% {
      background-color: #252a34;
    }
    80% {
      background-color: #08d9d6;
    }
    90% {
      background-color: #08d9d6;
    }
    100% {
      background-color: #08d9d6;
    }
  }
  @keyframes box-5-3 {
    0% {
      background-color: #08d9d6;
    }
    10% {
      background-color: #252a34;
    }
    20% {
      background-color: #08d9d6;
    }
    30% {
      background-color: #08d9d6;
    }
    40% {
      background-color: #08d9d6;
    }
    50% {
      background-color: #08d9d6;
    }
    60% {
      background-color: #08d9d6;
    }
    70% {
      background-color: #08d9d6;
    }
    80% {
      background-color: #08d9d6;
    }
    90% {
      background-color: #08d9d6;
    }
    100% {
      background-color: #08d9d6;
    }
  }